<%- include('../../shared/includes/head', { pageTitle: 'Purchase Failed' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Purchase Failed :(</h1>
    <p>Couldn't Complete Your Order, Please Try Again.</p>
  </main>
<%- include('../../shared/includes/footer') %>