<%- include('../../shared/includes/head', { pageTitle: 'Order Successed!' }) %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Purchase Successed :)</h1>
    <p>Your Order Has Been Successfully Placed ! <a href="/orders"> Check Your Orders</a> </p>
  </main>
<%- include('../../shared/includes/footer') %>